*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;

    block-size: fit-content;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: rgb(217, 217, 217);
}

/*======conteúdo da esquerda=======*/

.content-left{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.usuario{
    margin: 7px;
    padding: 14px 10px;

    display: flex;
    justify-content: space-between;
}

.usuario:hover{
    background-color: rgba(47, 51, 54, 0.5);
    border-radius: 35px;
    cursor: pointer;
}

.user_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.reticencias{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 21px;
}

.username{
    padding: 15px 10px;
}

.flex-box{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

.followers{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px 5px;
}

#seguidores{
    font-size: 18px;
    
}

#publicaçoes{
    font-size: 18px;
}

/*======conteúdo do centro=======*/

.content-center{
    width: 45%;
    height: 100%;

    block-size: fit-content;
    
    display: flex;
    flex-direction: column;
    /*padding: 10px 10px 0 10px;*/
    padding-top: 10px;

    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.position{
  position: -webkit-sticky;
  position: sticky;
  top: -1px;

  background-color: #000000;
}

.form_tweet{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;

    padding: 0px 10px;
}

.input_tweet{
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    background: none;
    color: #E1E8ED;
    padding-bottom: 4px;
    padding-top: 4px;
    
    margin-top: 5px;
}

input:focus {
    outline: none;
}

.form-bottom{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #1DA1F2;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2px;
    margin-right: 5px;
}

.form-bottom:hover{
    background-color: rgba(29,161,242, 0.8);
}

#tweets{
    color: rgb(217, 217, 217);
}

/*----form search-----*/

.input-search{
    width: 92%;
    height: 2.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: rgba(47, 51, 54, 0.6);   /*rgba(110, 118, 125, 0.3);*/
    color: #E1E8ED;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 46px;
    margin-top: 13px;

    display: flex;
    align-items: center;
}

.input-search{
    background-image: url(imagens/search2.png);
    background-position: 10px 9.2px;
    background-repeat: no-repeat;
}

.input-search:focus {
    background-image: url(imagens/search_focus3.png);
    background-position: 10px 9px;
    background-repeat: no-repeat;
    border: 2px solid #1DA1F2;
    background-color: #000000;
}

.form-bottom-search{
    width: 5.8rem;
    height: 2.3rem;
    border-radius: 1rem;
    border: none;
    background-color: #1DA1F2;
    cursor: pointer;
    font-size: 1rem;
}

.form-bottom-search:hover{
    background-color: rgba(29,161,242, 0.8);
}

.form-bottom-delete{
    width: 5.9rem;
    height: 2.4rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(242, 110, 29);
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
}

.form-bottom-delete:hover{
    background-color: rgba(242, 110, 29, 0.8);
}

/*======conteúdo da direita=======*/

.content-right{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px 17px 0 10px;
}

/*----form search-----*/

.input-search{
    width: 87%;
    height: 2.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: rgba(47, 51, 54, 0.6);   /*rgba(110, 118, 125, 0.3);*/
    color: #E1E8ED;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 46px;
    margin-top: 13px;

    display: flex;
    align-items: center;
}

.input-search{
    background-image: url(imagens/search2.png);
    background-position: 10px 9.2px;
    background-repeat: no-repeat;
}

.input-search:focus {
    background-image: url(imagens/search_focus3.png);
    background-position: 10px 9px;
    background-repeat: no-repeat;
    border: 2px solid #1DA1F2;
    background-color: #000000;
}

/*--div de usuarios pesquisados--*/

#pessoas{
    display: flex;
    flex-direction: column;     

    color: #E1E8ED;

    border-radius: 1rem;
    background-color: rgba(47, 51, 54, 0.6);
    max-height: 100%;

    margin-top: 20px;
}

/*========= fonts =============*/

h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

h3{
    font-weight: 600;
    letter-spacing: 0.1px;
}

.rule{
    border-bottom: 1px solid rgb(47, 51, 54);
    width: 100vw; 
    display: block;
}