*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1DA1F2;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    height: 100%;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 4.0rem;
    color: #14171A;
    flex-wrap: wrap;
}

.subtitle{
    font-size: 1.5rem;
    color: #F5F8FA
}
/* =========== link ========== */
a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

a:link,label:link{
    color: #F5F8FA;
}

a:visited,label:visited{
    color: #14171A;
}

a:hover,label:hover{
    color:#E1E8ED;
}

a:active{
    color: #F5F8FA;
}

/* =========== formulário ========== */
.form-group{
    margin-bottom: 10px;
}

.form-control{
    width: 17rem;
    height: 2.3rem;
    border-radius: 1rem;
    padding-left: 2%;
    font-size: 1.2rem;
    border: none;
}

input:focus {
    outline: none;
    border: 2px solid #657786;
}

.form-bottom{
    width: 15rem;
    height: 2.3rem;
    border-radius: 1rem;
    border: none;
    background-color: #F5F8FA;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 6px;
}

.form-bottom:hover{
    background-color: #14171A;
    color: #F5F8FA;
}

.links_forms{
    display: flex;
    flex-direction: row;
    margin: 3% 0;
}

#erro_email, #erro_senha{
    display: flex;
    color: rgba(242, 110, 29);
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* =========== php ========== */

.comunicado_erro{
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}